<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>changeInformation</title>
</head>
<body>
<form>
<fieldset>
    <legend>information</legend>
   <label>
       <p>icon:
    <input type="file" name="icon" ></p>
   </label>
    <label>
         <p>username:
    <input type="text" name="username" size="15" maxlength="30">
     </p>
    </label>
    <label>
         <p>password:
    <input type="password" name="password" size="15" maxlength="30"></p>
    </label>
   <label>
        <p>qq:
    <input type="text" name="qq" size="15" maxlength="30"></p>
   </label>
    <label>
         <p>wechat:
    <input type="text" name="wechat" size="15" maxlength="30"></p>
    </label>
    <label>
         <p>phone number:
    <input type="text" name="phone" size="15" maxlength="30"></p>
    </label>

     <input type="submit" value="subscribe">
</fieldset></form>





</body>
</html>