<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>personalInformation</title>
     <link rel="stylesheet" href="{{ static("fromold/sellerInformationCss.css") }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/fromold/sellerInformationCss.css')}}">
</head>
<body>
<div class="top" id="top">
    <div class="topcontent">
        <a  id="h1" class="title" href="//127.0.0.1:5000/">
            BJUT FLEA MARKET
        <br/>
            <div class="title_content">Personal Information</div></a>
        <div class="headingnav">
            <ul>
                <li><a id="h2">personal center</a></li>
            </ul>
        </div>

        <div class="img"><img src="test.jpg" height="50" width="50"/>
        </div>
        <div class="spot">
            <form>
                <input type="text">
            </form>
        </div>
        <div class="button">
            <div class="button_content">search</div></div>
    </div>
</div>
<div class="body">
    <div class="seller_information">
        <img src="test.jpg" height="100" width="100"/>
        <div class="sellername">{{ username }}</div>
        <div class="seller_credibility">credibility</div>
        <div class="introduction">introduction</div>
        <div class="contact">contact information</div>
        <div class="seller_main">
            <ul>
                <li>phone: {{ phone }}</li>
                <li>email: {{ email }}</li>
                <li>qq</li>
            </ul>
        </div>
    </div>
    <div class="production_list">
        <div id="listname">production list</div>
        <div class="list_content">
            <img src="test.jpg" height="100" width="100"/>
            <div class="product_name"><a href="//127.0.0.1:5000/detail">production name</a></div>
            <div class="product_classifiction">book</div>
        </div>
        <div class="list_content">
            <img src="test.jpg" height="100" width="100"/>
            <div class="product_name"><a href="//127.0.0.1:5000/detail">production name</a></div>
            <div class="product_classifiction">book</div>
        </div><div class="list_content">
            <img src="test.jpg" height="100" width="100"/>
            <div class="product_name"><a href="//127.0.0.1:5000/detail">production name</a></div>
            <div class="product_classifiction">book</div>
        </div><div class="list_content">
            <img src="test.jpg" height="100" width="100"/>
            <div class="product_name"><a href="//127.0.0.1:5000/detail">production name</a></div>
            <div class="product_classifiction">book</div>
        </div><div class="list_content">
            <img src="test.jpg" height="100" width="100"/>
            <div class="product_name"><a href="//127.0.0.1:5000/detail">production name</a></div>
            <div class="product_classifiction">book</div>
        </div><div class="list_content">
            <img src="test.jpg" height="100" width="100"/>
            <div class="product_name"><a href="//127.0.0.1:5000/detail">production name</a></div>
            <div class="product_classifiction">book</div>
        </div>
    </div>
</div>
<div class="change_page">
    <div class="last_page"><a> last page<a/></div>
    <div class="next_page"><a>next page<a/></div>
    <a href="//127.0.0.1:5000/change">edit personal information</a>
    <a>manange products</a>
</div>
<div class="tail">
    <div class="tailcontent">
        <ul>
            <a id="t1" href="#top"><li>back to top</li></a>
            <a id="t2"><li>more information</li></a>
        </ul>
    </div>
    </div>
</body>
</html>