{% extends "front/front_base.html" %}
{% from "common/_macros.html" import static %}

{% block title %}BJUT Second Market{% endblock %}


{% block head %}
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="{{ static("front/css/front_index.css") }}">
<link rel="stylesheet" href="{{ static("front/cs/bootstrap.min.css") }}">
<link rel="stylesheet" href="{{ static("front/cs/front_personal.css") }}">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src={{ static("front/cs/personal.js") }}></script>


{% endblock %}

{% block body %}

		<div class="row-fluid">
<button type="button" class="btn btn-default btn-lg" ><a data-toggle="modal" data-target="#myModal">change information</a></button>

            <!-- 请求表单，aciton需要自己绑定-->
        <form method="post" action="#" id="form_add">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">change information</h4>
                        </div>
                            <div class="modal-body">
                                <!--数据项-->
                                <div class="form-group form-inline">
                                    username<input type="text" name="name" class="form-control" >
                                </div>
                                 <div class="form-group form-inline">
                                     email<input type="text" name="email" class="form-control" >
                                </div>
                                <div class="form-group form-inline">
									<select name="gender" class="form-control">
										<option value=1>Male</option>
										<option value=2>Female</option>
										<option value=3>Secret</option>
										<option value=4>Unknown</option>
										<option selected></option>
									</select>
								</div>
								<div class="form-group form-inline">
									Personal description<input type="text" name="singature" class="form-control" >
							   </div>
		 <div class="form-group">
    <label for="exampleInputFile">Avatar</label>
    <input type="file" id="exampleInputFile" name="file">
    <p class="help-block">change avatar</p>
  </div>
                                <!-- end-->

                            </div>
                        <div class="modal-footer">
                            <button type="button" class="addSure btn btn-info">change</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
      //提交表单的方法
      $(".addSure").click(function(event){
		  event.preventDefault();
	  var f =new FormData();
	  f.append('uname',$("input[name='name']").val());
	  f.append('email',$("input[name='email']").val());
	  f.append('gender',$("select[name='gender']").val());
	  f.append('des',$("input[name='signature']").val());
	  f.append('file',$("#exampleInputFile").get(0).files[0]);
	  zlajax.post({
		  type:'post',
		  url:"/changeinfo/",
		  dataType:'text',
		  data:f,
		  processData: false,
		  contentType: false,
		  'success': function (data) {
			if(data=='success'){
				alert.alertConfirm({
					'msg':'Success!',
					'ConfirmText':'OK'
				});
			}else{
				alert.alertConfirm({
					'msg':'Success!',
					'ConfirmText':'Upload again'
				});
			}
		  }
		  });
		});
   </script>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">information</h3>
  </div>
  <div class="panel-body">
    <div class="span6">
			<h5 class="col-md-8" >
				<div  class="col-sm-6" >Username:</div>
			</h5>
			<h3 class="col-md-8" >
				<div  class="col-sm-6" >{{user.username}}</div>
			</h3>
			{%if user.avatar==None%}
			<img   class="col-md-6" alt="140x140" src="img/a.jpg" />
			{%else%}
			<img   class="col-md-6" alt="140x140" src="/static/{{user.avatar}}" />
			{%endif%}
			<h5 class="col-md-8" >
				<div  class="col-sm-9" >Description:</div>
			</h5>
            <h3 class="col-md-8" >
				<div  class="col-sm-6" >{{user.signature}}</div>
			</h3>
			<h5 class="col-md-8" >
				<div  class="col-sm-9" >Telephone:</div>
			</h5>
			<h3 class="col-md-6" >
				<div  class="col-sm-6" >{{user.telephone}}</div>
			</h3>
			<h5 class="col-md-8" >
				<div  class="col-sm-9" >Email:</div>
			</h5>
            <h3 class="col-md-6" >
				<div  class="col-sm-6" >{{user.email}}</div>
			</h3>
			<h5 class="col-md-8" >
				<div  class="col-sm-9" >Gender:</div>
			</h5>
			<h3 class="col-md-8" >
				<div  class="col-sm-6" >{{gender}}</div>
			</h3>

		</div>
  </div>
</div>

	</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">product list</h3>
  </div>
  <div class="panel-body">
    <div class="span4">


				{%for t in product%}
				{%if t[1].imglink=='none'%}
			<div class="product"></div>
			<img class="col-md-4" alt="140x140" src="img/a.jpg" />
			{%else%}
			<img class="col-md-4" alt="140x140" src="/static/{{t[2].imglink}}" />
			{%endif%}
			<p class="col-sm-9">product name</p>
			<div  class="col-sm-6" ><li><a href="/p/{{t[1]}}"><h3>{{t[0]}}</h3></a></li></div>
			<div class="col-sm-9">category</div>
			<div  class="col-sm-6" ><h3>{{t[3]}}</h3></div>
			{%endfor%}

		</div>


	</div><nav aria-label="Page navigation" class="col-xs-12">
  <ul class="pagination">
    <li>
		{%if c==1%}
		<a aria-disabled="true" aria-label="Previous"></a>
		{%else%}
	  <a href="/personal/?p={{c-1}}" aria-label="Previous">
		{%endif%}
        <span aria-hidden="true">&laquo;</span>
      </a>
	</li>
	{%for p in range%}
    <li><a href="/personal/?p={{p}}">{{p}}</a></li>
	{%endfor%}
    <li>
		{%if c==t%}
		<a aria-disabled="true" aria-label="Previous"></a>
		{%else%}
	  <a href="/personal/?p={{c+1}}" aria-label="Next">
		{%endif%}
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
  </div>
</div>

{% endblock %}