{% extends 'front/front_base.html' %}
{% from "common/_macros.html" import static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block head %}
    <script src="{{ static('front/js/front_product_detail.js') }}"></script>
    <link rel="stylesheet" href="{{ static('front/css/front_product_detail.css') }}">
{% endblock %}

{% block body %}
<div class="col-md-6">
                <button class="btn btn-default "><a href="{{ url_for("front.ta_page",user_id=product.user.id)}}">seller information</a></button>
            </div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">product information</h3>
  </div>
  <div class="panel-body">

    <div class="sm-container col-md-6">
        <div style="padding-bottom:10px;">
<!--            <div class="col-md-6"> <div class="saler"><a href="#">卖家</a></div></div>-->


<!--<div class="col-md-12"><div class="user-avatar-group">-->
<!--                <img src="{{ url_for('static',filename='common/images/logo.png') }}" alt="">-->
<!--            </div></div>-->
    <div class="lg-container">
        <div class="product-container">

            <div class="product-picture">
                {%if productimgs[0].imglink=='none'%}
                <img class="thumbnail" src="{{ url_for('static',filename='common/images/logo.png') }}" alt="">
                {%else%}
                <img class="thumbnail" src="/static/{{ productimgs[0].imglink }}" alt="">
                {%endif%}
            </div>
            <mark> <h1  class= "page-header">{{ product.name }}</h1></mark>
            <div class="col-md-6"></div>
            <ul class="product-info-group" id="product-information" data-da="{{ product.id}}" data-like="{{like.id}}">
            <li class="col-md-12">price:</li>
                <li ><h1>{{ product.price }}</h1></li>
                <li class="col-md-12">seller：</li>
                <li class="col-md-4"><strong><h3>{{ product.user.username }}</h3></strong></li>
            <li class="col-md-12">category：</li>
                <li class="col-md-4"><strong>{{ product.board.name }}</strong></li>
            <li class="col-md-12 ">description:</li>
                <li class="col-md-12 page-header"><span>{{ product.description }}</span></li>

                <li class="col-md-12"><small>time：{{ product.join_time }}</small></li>
            <li class="col-md-12" color="blue"><small>read: {{ product.like }}</small></li>
            <li class="col-md-4"><small>comments: {{ product.comment }}</small></li>
            </ul>
            {% if like == 0 or like==None%}
            <button class="btn btn-warning" id="like-btn" name="like-btn" data="0">Like</button></td>
            {% else %}
            <button class="btn btn-success" data="1"  id="have-like-btn">Cancel Liked</button></td>
            {% endif %}
            {%if productimgs[0].imglink!='none'%}
            {%for p in productimgs%}
            <div class="product-picture">
<!--                <img  src="/static/{{ p.imglink }}" alt="">-->
            </div>
            {%endfor%}
            {%endif%}
        </div>
<div class="col-md-12" ></div>

    </div>


        </div>

    </div>
  </div>
</div>
<div class="col-md-12">       </div>
        <div class="col-md-12">         </div>
        <div class="col-md-12">        </div>
    <div class="lg-container">

<div class="col-md-12" ></div>
        <div class="comment-group">
            <h3>comment list</h3>
            <ul class="comment-list-group">
                {% for comment in product.comments %}
                <ul class="comment-info-group" id="comment-info-group" data-da="{{comment.id}}">
                    <li>
                        <div class="avatar-group">
                            {%if comment.commenter.avatar==None%}
                            <img src="{{ comment.commenter.avatar or static('/common/images/logo.png') }}" alt="">
                            {%else%}
                            <img src="/static/{{comment.commenter.avatar}}" alt="">
                            {%endif%}
                        </div>
                        <div class="comment-content">
                            <p class="user-info">
                                <strong class="col-md-6">{{ comment.commenter.username }}</strong>
                                <small class="col-md-6">{{ comment.create_time }}</small>
                            </p>
                            <p class="comment-txt"><small class="col-md-12">{{ comment.content|safe }}</small>

                            </p>

                        </div>
                        {%if g.front_user%}
                        {% if g.front_user==product.user or g.front_user==commenter %}
                        <div class="button-delete-comment">
                                
                                <button class="btn btn-success" data="1" id="delete-comment-btn" name="delete-comment-btn">Delete</button></td>
                                
                        </div>
                        {% endif %}
                        {% endif %}
                    </li>
                    </ul>
                {% endfor %}
            </ul>
        </div>

        <div class="add-comment-group">
            <span>comment</span>
            <input type="text" class="form-control" id="comment-content"
                   name="comment-content" placeholder="welcome to comment">
            <div class="comment-btn-group">
                <button class="btn btn-primary" id="comment-btn" name="comment-btn" data="1">submit</button></td>
            </div>
        </div>
    </div>

    <div class="sm-container">
        <div style="padding-bottom:10px;">
            <div class="col-md-6"> <div class="saler"><a href="{{ url_for("front.ta_page",user_id=product.user.id)}}">seller</a></div></div>

<div class="col-md-6">
                <button class="btn btn-default "><a href="{{ url_for("front.ta_page",user_id=product.user.id)}}">seller information</a></button>
            </div>
<div class="col-md-12"><div class="user-avatar-group">
            {%if product.user.avatar=='none'%}
                <img src="{{ url_for('static',filename='common/images/logo.png') }}" alt="">
                {%else%}
                <img src="/static/{{product.user.avatar}}" alt="">
                {%endif%}
            </div></div>



        </div>

    </div>
{% endblock %}