{% extends "front/front_base.html" %}
{% from "common/_macros.html" import static %}

{% block title %}
    {{ ta.name }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ static("front/css/front_ta.css") }}">
<script src="{{ static('front/js/front_ta.js') }}"></script>
{% endblock %}

{% block body %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">personal information</h3>
  </div>
  <div class="panel-body">
 <div class="top-ta" id="top-ta" name="top-ta" data-da="{{ta.id}}" data-follow="{{follow.id}}">
            <div class="user-avatar-group">
              <img src="{{ ta.avatar or url_for('static',filename='common/images/logo.png') }}" alt="">
            </div>
            <div class="taname">
                <span ><h1>username:{{ ta.username }}</h1></span>
            </div>
            <div>
            {% if follow == 0 %}
            <button class="btn btn-warning" id="follow-btn" name="follow-btn" data="0">Follow</button></td>
            {% else %}
            <button class="btn btn-success" data="1" id="have-follow-btn">Have Followed</button></td>
            {% endif %}
            </div>
        </div>
  </div>
</div>
    <div class="lg-container ">
<!--        <div class="bg-info"><h3>product list</h3></div>-->
        <div class="panel panel-info ">
  <div class="panel-heading">
    <h3 class="panel-title">product list </h3>
  </div>
  <div class="panel-body">
     <ul class="product-list-group">
                {% for product in products %}
                <li>
                <div class="product-info-group1">
                    <p class="product-name">
                        <h1><a href="{{ url_for("front.product_detail",product_id=product.id)}}">{{ product.name }}</a></h1>
                        {% if product.highlight %}
                                    <span class="label label-danger">管理员推荐</span>
                        {% endif %}
                    </p>
                    <p class="product-info1">
                        <h4><strong>price:{{ product.price }}</strong></h4>
                    </p>
                </div>
                <div class="product-info-group2">
                    <p class="product-info2">
                        <span>description:{{ product.description }}</span>
                    </p>
                    <p class="product-info3">
                        <small>read:0</small>
                    </p>
                </div>
                <div class="product-picture thumbnail">
                       <img src="{{url_for('static',filename='common/images/logo.png') }}" alt="">
                </div>
                </li>
                {% endfor %}
            </ul>
  </div>
</div>
    <div class="background">

<!--        <div class="bg-info"><h3>product list</h3></div>-->
<!--        <ul class="product-list-group">-->
<!--                {% for product in products %}-->
<!--                <li>-->
<!--                <div class="product-info-group1">-->
<!--                    <p class="product-name">-->
<!--                        <h1><a href="{{ url_for("front.product_detail",product_id=product.id)}}">{{ product.name }}</a></h1>-->
<!--                        {% if product.highlight %}-->
<!--                                    <span class="label label-danger">管理员推荐</span>-->
<!--                        {% endif %}-->
<!--                    </p>-->
<!--                    <p class="product-info1">-->
<!--                        <h4><strong>价格:{{ product.price }}</strong></h4>-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="product-info-group2">-->
<!--                    <p class="product-info2">-->
<!--                        <span>描述:{{ product.description }}</span>-->
<!--                    </p>-->
<!--                    <p class="product-info3">-->
<!--                        <small>点击率:0</small>-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="product-picture">-->
<!--                       <img src="{{url_for('static',filename='common/images/logo.png') }}" alt="">-->
<!--                </div>-->
<!--                </li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
            <div style="text-align: center;">{{ pagination.links }}</div>
    </div>
    </div>

{% endblock %}
