{% extends 'front/front_signbase.html' %}
{% from 'common/_macros.html' import static%}

{% block title %}
    Forget Password Confirm
{% endblock %}

{% block head %}
    <script src="{{ static('front/js/front_forgetpassword.js') }}"></script>
{% endblock %}

{% block h2_block %}
    Forget Password Confirm
{% endblock %}

{% block signbox %}
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" name="telephone" placeholder="Phonenumber">
            <span class="input-group-btn">
                <button id="sms-captcha-btn" class="btn btn-default">Send Code</button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="sms_captcha" placeholder="SMS Code">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="newpassword" placeholder="newpassword">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="newpassword2" placeholder="newpassword2">
    </div>
    <div class="form-group">
        <button class="btn btn-warning btn-block" id="submit-btn">Submit</button>
    </div>
{% endblock %}