{% extends "front/front_base.html" %}
{% from "common/_macros.html" import static %}

{% block title %}BJUT Second Market{% endblock %}


{% block head %}
<meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ static("front/css/front_index.css") }}">
<link rel="stylesheet" href="{{ static("front/cs/bootstrap.min.css") }}">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src={{ static("front/cs/personal.js") }}></script>


{% endblock %}

{% block body %}
   <div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h3>
				Information
			</h3>
		</div>
	</div>
	<div class="row-fluid">
<button type="button" class="btn btn-default" ><a data-toggle="modal" data-target="#myModal">更改信息</a></button>

            <!-- 请求表单，aciton需要自己绑定-->
        <form method="post" action="#" id="form_add">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">更改信息</h4>
                        </div>
                            <div class="modal-body">
                                <!--数据项-->
                                <div class="form-group form-inline">
                                    用户名<input type="text" name="name" class="form-control" >
                                </div>
                                 <div class="form-group form-inline">
                                     email<input type="text" name="age" class="form-control" >
                                </div>
                                <div class="form-group form-inline">
                                   手机号<input type="text" name="id" class="form-control" >
                                </div>
		 <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">修改头像</p>
  </div>
                                <!-- end-->

                            </div>
                        <div class="modal-footer">
                            <button type="button" class="addSure btn btn-info">添加</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
      //提交表单的方法
      $(".addSure").click(function(){
      $("#form_add").submit();
      });
   </script>

		<div class="span6">
			<h3 class="col-md-8" >username</h3>

			<img   class="col-md-4" alt="140x140" src="img/a.jpg" />

            <div  class="col-sm-9" >introduction</div>


			<div  class="col-sm-9" >phone number</div>



            <div  class="col-sm-9" >email</div>



		</div>

		<div class="span6">
			<h3 class="col-md-8" >
				album</h3>

			<img alt="140x140" src="img/a.jpg" />

		</div>
	</div>
	<div class="row-fluid">
		<div class="span4">
			<h3 class="col-md-8" >
				product list</h3>


			<img class="col-md-4" alt="140x140" src="img/a.jpg" />
			<p class="col-sm-9">物品</p>


            <div class="col-sm-9">物品分类</div>


		</div>


	</div>
</div>
{% endblock %}