{% extends "front/front_base.html" %}
{% from "common/_macros.html" import static %}

{% block title %}BJUT Second Market{% endblock %}

{% block head %}
<meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ static("front/css/front_index.css") }}">
<link rel="stylesheet" href="{{ static("front/cs/bootstrap.min.css") }}">
<<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">>
{% endblock %}

{% block body %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">search result</h3>
  </div>
  <div class="panel-body">
    	<div class="row-fluid">
				<div class="span2">
				</div>
				<div class="span6">
					<div class="row-fluid">

                          {% for product in products %}
						<div class="span4">
							<h2 class="bg-info">
								<a href="/p/{{product[0].id}}">Item{{ product[0].name }}</a>
							</h2>
							<p>
								Description{{ product[0].description }}
							</p>
							<div class="span4">
								{%if product[1].imglink=='none'%}
							<img alt="140x140"  src="{{ url_for('static',filename='common/images/logo.png') }}" class="img-thumbnail" />
							{%else%}
							<img alt="140x140" src="/static/{{product[1].imglink}}" class="img-thumbnail"/>
							{%endif%}
						</div>
							{% endfor %}
							{%if pagination%}
							<div style="text-align: center;">{{ pagination.links }}</div>
							{%endif%}
						</div>

					</div>
				</div>
				<div class="span4">
				</div>
			</div>
  </div>
</div>


   <div class="container-fluid">
	<div class="row-fluid">

	</div>


<!--</div><div class="list-group ">-->
<!--  <a href="#" class="list-group-item active">-->
<!--    category-->
<!--  </a>-->
<!--  <a href="#" class="list-group-item">book</a>-->
<!--  <a href="#" class="list-group-item">clothes</a>-->

<!--</div>-->


{% endblock %}
