{% extends "front/front_base.html" %}
{% from "common/_macros.html" import static %}

{% block title %}BJUT Second Market{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ static("front/css/front_index.css") }}">
{% endblock %}

{% block body %}
    <div class="lg-container">
        <div id="carousel-example-generic" class="carousel slide index-banner" data-ride="carousel">
          <!-- 指示器 白色点点 代表所在页-->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          </ol>

          <!-- 轮播图 -->
          <div class="carousel-inner" role="listbox">
              {% for banner in banners %}
                  {% if loop.first %}
                    <div class="item active">
                  {% else %}
                      <div class="item">
                  {% endif %}
                    <a href="{{ banner.link_url }}">
                        <img src="{{ banner.image_url }}" alt="...">
                    </a>
                </div>
              {% endfor %}
          </div>

          <!-- 左右切换的控制按钮 -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="product-group">
                <ul class="product-group-head">
                    {% if current_sort == 1 %}
                    <li class="active"><a href="{{ url_for("front.index",st=1,bd=current_board) }}">最新</a></li>
                {% else %}
                    <li><a href="{{ url_for("front.index",st=1,bd=current_board) }}">最新</a></li>
                {% endif %}
                {% if current_sort == 2 %}
                    <li class="active"><a href="{{ url_for("front.index",st=2,bd=current_board) }}">官方推荐</a></li>
                {% else %}
                    <li><a href="{{ url_for("front.index",st=2,bd=current_board) }}">官方推荐</a></li>
                {% endif %}
                {% if current_sort == 3 %}
                    <li class="active"><a href="{{ url_for("front.index",st=3,bd=current_board) }}">点赞最多</a></li>
                {% else %}
                    <li><a href="{{ url_for("front.index",st=3,bd=current_board) }}">点赞最多</a></li>
                {% endif %}
                {% if current_sort == 4 %}
                    <li class="active"><a href="{{ url_for("front.index",st=4,bd=current_board) }}">价格最低</a></li>
                {% else %}
                    <li><a href="{{ url_for("front.index",st=4,bd=current_board) }}">价格最低</a></li>
                {% endif %}
                </ul>
            <ul class="product-list-group">
                {% for product in products %}
                <li>
                <div class="user-avatar-group">
                       <img src="{{url_for('static',filename='common/images/logo.png') }}" alt="">
                </div>
                <div class="product-info-group1">
                    <p class="product-name">
                        <a href="{{ url_for("front.product_detail",product_id=product.id)}}">{{ product[0].name }}</a>
                        {% if product[0].highlight %}
                                    <span class="label label-danger">官方推荐</span>
                        {% endif %}
                    </p>
                    <p class="product-info1">
                        <span>价格:{{ product[0].price }}</span>
                    </p>

                </div>
                <div class="product-info-group2">
                    <p class="product-info2">
                        <span>描述:{{ product[0].description }}</span>
                    </p>
                    <p class="product-info3">
                        <span>点赞数:{{ product[0].like }}</span>
                    </p>
                    <p class="product-info3">
                        <span>评论数:{{ product[0].comment }}</span>
                    </p>
                </div>
                <div class="product-picture">
                       <img src="{{url_for('static',filename='common/images/logo.png') }}" alt="">
                </div>
                </li>
                {% endfor %}
            </ul>
            <div style="text-align: center;">{{ pagination.links }}</div>
        </div>

    </div>

    <div class="sm-container">
        <div style="padding-bottom:10px;" >
             <a href="{{ url_for("front.aproduct") }}" class="btn btn-warning btn-block">发布帖子</a>
{#            <button class="btn btn-warning btn-block">发布帖子</button>#}
        </div>
        <div class="list-group">
            {% if current_board %}
                <a href="{{ url_for("front.index") }}" class="list-group-item">所有板块</a>
            {% else %}
                <a href="{{ url_for("front.index") }}" class="list-group-item active">所有板块</a>
            {% endif %}

            {% for board in boards %}
                {% if board.id==current_board %}
                    <a href="{{ url_for("front.index",bd=board.id) }}"
                       class="list-group-item active">{{ board.name }}</a>
                {% else %}
                    <a href="{{ url_for("front.index",bd=board.id) }}" class="list-group-item">{{ board.name }}</a>
                {% endif %}

            {% endfor %}

        </div>
    </div>

{% endblock %}
