{% from "common/_macros.html" import static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include "common/_heads.html" %}
    <link rel="stylesheet" href="{{ static('front/css/front_base.css') }}">
    <script src="{{ static("front/js/front_base.js") }}"></script>
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">BJUT Second Market</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">首页<span class="sr-only">(current)</span></a></li>
          </ul>
          <form action="/s/" method="post" class="navbar-form navbar-left" >
            <div class="form-group">
              <input type="text" class="form-control" name="search-content" placeholder="请输入关键字">
            </div>
            <button type="submit" class="btn btn-default" id="search-submit-btn" name="search-submit-btn">搜索</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
              {% if g.front_user %}
                  <span id="login-tag" data-is-login="1" style="display:none;"></span>
              <div class="messages">
                  <button class="btn btn-default" data-toggle="modal" data-target="#message-dialog">消息</button>
              </div>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ g.front_user.username }}
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="/personal/">个人中心</a></li>
                        <li><a href="{{ url_for('front.logout') }}">注销</a></li>
                      </ul>
                  </li>
              {% else %}
                  <li><a href="{{ url_for('front.signin') }}">登录</a></li>
                  <li><a href="{{ url_for('front.signup') }}">注册</a></li>
              {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="main-container">
        {% block body %}{% endblock %}
    </div>
    <div class="modal fade" id="message-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Messages</h4>
      </div>
      <div class="modal-body">
          <div>
              <ul class="product-group-head">
              </ul>
          </div>
          {% for message in g.messages['followmsg'] %}
          <div class="message1">{{message.content}}</div>
<!--         messages['followmsg']=FollowMessageModel.query.filter(FollowMessageModel.user_id == user_id).all()-->
          {% endfor %}
          {% for message in g.messages['commentmsg'] %}
          <div class="message2">{{message.content}}</div>
<!--        messages['commentmsg']=CommemtMessageModel.query.filter(CommemtMessageModel.user_id == user_id).all()-->
          {% endfor %}
          {% for message in g.messages['deltetmsg'] %}
          <div class="message3">{{message.content}}</div>
<!--        messages['deltetmsg']=DeleteMessageModel.query.filter(DeleteMessageModel.user_id == user_id).all()-->
          {% endfor %}
          {% for message in g.messages['alertmsg'] %}
          <div class="message4">{{message.content}}</div>
<!--        messages['alertmsg']=AlertMessageModel.query.filter(AlertMessageModel.user_id == user_id).all()-->
          {% endfor %}
          {%endif%}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
<!--        <button type="button" class="btn btn-primary" id="save-banner-btn">保存</button>-->
      </div>
    </div>
  </div>
</div>
</body>
</html>