{% extends 'front/front_base.html' %}
{% from "common/_macros.html" import static %}

{% block title %}
    Messages
{% endblock %}

{% block head %}
<!--    <link rel="stylesheet" href="{{ static('front/css/front_product_detail.css') }}">-->
{% endblock %}

{% block body %}
<div class="modal fade" id="message-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Message</h4>
      </div>
      <div class="modal-body">
          {% for message in g.messages %}
          <div>{{message.content}}</div>
          {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<!--        <button type="button" class="btn btn-primary" id="save-banner-btn">保存</button>-->
      </div>
    </div>
  </div>
</div>
{% endblock %}