.product-container{
    border: 1px solid #e6e6e6;
    padding: 10px;
}

.product-picture{
    width: 400px;
    height: 300px;
    background-color: #fbfff9;
}

.product-picture img{
    width: 380px;
    height: 280px;
    margin: 0 auto;
}
#like-btn{
    float: right;
    margin-top: -30px;
}
#have-like-btn{
    float: right;
    margin-top: -30px;
}
.comment-group{
    margin-top: 20px;
    border: 1px solid #e8e8e8;
    padding: 10px;
}

.add-comment-group{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #e8e8e8;
}

.add-comment-group h3{
    margin-bottom: 10px;
}

.comment-btn-group{
    margin-top: 10px;
    text-align:right;
}

.comment-list-group li{
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
}

.avatar-group{
    float: left;
}

.avatar-group img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment-content{
    float: left;
    margin-left:10px;
}

.comment-content .author-info{
    font-size: 12px;
    color: #8c8c8c;
}

.author-info span{
    margin-right: 10px;
}

.comment-content .comment-txt{
    margin-top: 10px;
}
.sm-container{
    float: left;
    border:5px black;
}

.user-avatar-group{
    float: left;
    width: 100%;
    height:150px;
    margin:0 auto;
}

.user-avatar-group img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
}

.hispage{
    width: 80px;
    margin: 0 auto;
}

.saler{
    font-size: 30px;
    text-align:center;

}

.delete-comment-btn{
    float: right;
}
.button-delete-comment{
    float: right;
}

