{% extends 'cms/cms_base.html' %}
{% from "common/_macros.html" import static %}

{% block title %}Product Management{% endblock %}

{% block head %}
    <script src="{{ static("cms/js/posts.js") }}"></script>
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block main_content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>CreateTime</th>
                <th>Board</th>
                <th>Seller</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr data-id="{{ product.id }}" data-highlight="{{ 1 if product.highlight else 0 }}">
                    <td><a target="_blank" href="{{ url_for("front.product_detail",product_id=product.id) }}">{{ product.name }}</a></td>
                    <td>{{ product.join_time }}</td>
                    <td>{{ product.board.name }}</td>
                    <td>{{ product.user_id}}</td>
                    <td>
                        {% if product.highlight %}
                            <button class="btn btn-default btn-xs highlight-btn">Cancel</button>
                        {% else %}
                            <button class="btn btn-default btn-xs highlight-btn">Highlight</button>
                        {% endif %}
                        <button class="btn btn-danger btn-xs delete-product-btn">Move</button>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}