{% extends 'cms/cms_base.html' %}

{% block title %}前台用户管理{% endblock %}

{% block head %}
    <script src="{{ static('cms/js/frontuser.js') }}"></script>
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block main_content %}
    我是前台用户管理页面
<table class="table table-bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>Telephone</th>
                <th>Username</th>
                <th>Email</th>
                <th>Signature</th>
                <th>avatar</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for front_user in front_users %}
                <tr data-id="{{ front_user.id }}">
                    <td>{{ front_user.id }}</td>
                    <td>{{ front_user.telephone }}</td>
                    <td>{{ front_user.username}}</td>
                    <td>{{ front_user.email}}</td>
                    <td>{{ front_user.Signature }}</td>
                    <td>{{ front_user.avatar }}</td>
                    <td>
                        <button class="btn btn-danger btn-xs delete-comment-btn warning-user-btn" name="warning-user-btn"id="warning-user-btn">警告</button>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}