{% extends "cms/cms_base.html" %}
{% from "common/_macros.html" import static %}
5
{% block title %}
    Banner Management
{% endblock %}

{% block head %}
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/moxie.js"></script>
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/plupload.dev.js"></script>
    <script src="https://cdn.staticfile.org/qiniu-js-sdk/1.0.14-beta/qiniu.js"></script>
    <script src="{{ static('common/qiniu.js') }}"></script>
    <script src="{{ static('cms/js/banners.js') }}"></script>
    <style>
        .top-box button {
            float: right;
        }


        table {
            table-layout: fixed;
        }


    </style>
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block main_content %}
    <div class="top-box">
        <button class="btn btn-warning" data-toggle="modal" data-target="#banner-dialog">Add Banner</button>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Imagelink</th>
                <th>Jumplink</th>
                <th>Priority</th>
                <th>Creationtime</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            {% for banner in banners %}
                <tr data-name="{{ banner.name }}" data-image="{{ banner.image_url }}" data-link="{{ banner.link_url }}" data-priority="{{ banner.priority }}" data-id="{{ banner.id }}">
                    <td >{{ banner.name }}</td>
                    <td><label class="col-sm-2 control-label"><a width="200px" href="{{ banner.image_url }}" target="_blank">{{ banner.image_url }}</a></label></td>
                    <td><label class="col-sm-2 control-label"><a  href="{{ banner.link_url }}" target="_blank">{{ banner.link_url }}</a></label></td>
                    <td>{{ banner.priority }}</td>
                    <td>{{ banner.create_time }}</td>
                    <td>
                        <button class="btn btn-default btn-xs edit-banner-btn">Edit</button>
                        <button class="btn btn-danger btn-xs delete-banner-btn">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<!-- Modal -->
<div class="modal fade" id="banner-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Banner</h4>
      </div>
      <div class="modal-body">
          <form action="" class="form-horizontal">
              <div class="form-group">
                  <label class="col-sm-2 control-label">Name</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" name="name" placeholder="Banner name">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-2 control-label">Image</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" name="image_url" placeholder="Banner img">
                  </div>
<!--                  <button class="btn btn-info col-sm-2" id="upload-btn">Add Image</button>-->
              </div>
              <div class="form-group">
                  <label class="col-sm-2 control-label">Jump link</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" name="link_url" placeholder="Jump link">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-2 control-label">Priority</label>
                  <div class="col-sm-10">
                      <input type="number" class="form-control" name="priority" placeholder="Priority">
                  </div>
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-banner-btn">Save</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}