<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>changeProduct</title>
</head>
<body>
<form>
<fieldset>
    <legend>product information</legend>
     <label>
         <p>image:
    <input type="file" name="icon" ></p>
     </label>
    <label>
        <p>product name:
    <input type="text" name="username" size="15" maxlength="30">
     </p>
    </label>
    <label>
        <p>views:
    <input type="text" name="username" size="15" maxlength="30">
     </p>
    </label>
    <label>
        <p>price:
    <input type="text" name="username" size="15" maxlength="30">
     </p>
    </label>
    <label>
        <p>classification:
    <select name="classify">
        <option value="book">book</option>
        <option value="clothes">clothes</option>
        <option value="shoes">shoes</option>
        <option value="others">shoes</option>
    </select></p>
    </label>
    <label>
        <p>description:</p>
   <textarea name="describe" cols="80" rows="14">enter description</textarea>
    </label>

    <br/>
     <input type="submit" value="subscribe">
</fieldset></form>

</body>
</html>